<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAAppGroupID</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>BAHasManagedAssetPacks</key>
	<true/>
	<key>BAUsesAppleHosting</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blankie</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Blankie Preset</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codybrom.blankie.preset</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlankieAltIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieAltIcon</string>
			</dict>
			<key>BlankieBlueIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieBlueIcon</string>
			</dict>
			<key>BlankieBrownIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieBrownIcon</string>
			</dict>
			<key>BlankieClassicIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieClassicIcon</string>
			</dict>
			<key>BlankieCyanIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieCyanIcon</string>
			</dict>
			<key>BlankieDarkIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieDarkIcon</string>
			</dict>
			<key>BlankieGreenIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieGreenIcon</string>
			</dict>
			<key>BlankieIndigoIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieIndigoIcon</string>
			</dict>
			<key>BlankieLeopardIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieLeopardIcon</string>
			</dict>
			<key>BlankieMintIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieMintIcon</string>
			</dict>
			<key>BlankieOrangeIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieOrangeIcon</string>
			</dict>
			<key>BlankiePatchworkIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankiePatchworkIcon</string>
			</dict>
			<key>BlankiePinkIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankiePinkIcon</string>
			</dict>
			<key>BlankiePurpleIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankiePurpleIcon</string>
			</dict>
			<key>BlankieRedIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieRedIcon</string>
			</dict>
			<key>BlankieSliderIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieSliderIcon</string>
			</dict>
			<key>BlankieTealIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieTealIcon</string>
			</dict>
			<key>BlankieWavesIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieWavesIcon</string>
			</dict>
			<key>BlankieYellowIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieYellowIcon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>BlankieAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlankieAltIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieAltIcon</string>
			</dict>
			<key>BlankieBlueIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieBlueIcon</string>
			</dict>
			<key>BlankieBrownIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieBrownIcon</string>
			</dict>
			<key>BlankieClassicIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieClassicIcon</string>
			</dict>
			<key>BlankieCyanIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieCyanIcon</string>
			</dict>
			<key>BlankieDarkIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieDarkIcon</string>
			</dict>
			<key>BlankieGreenIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieGreenIcon</string>
			</dict>
			<key>BlankieIndigoIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieIndigoIcon</string>
			</dict>
			<key>BlankieLeopardIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieLeopardIcon</string>
			</dict>
			<key>BlankieMintIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieMintIcon</string>
			</dict>
			<key>BlankieOrangeIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieOrangeIcon</string>
			</dict>
			<key>BlankiePatchworkIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankiePatchworkIcon</string>
			</dict>
			<key>BlankiePinkIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankiePinkIcon</string>
			</dict>
			<key>BlankiePurpleIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankiePurpleIcon</string>
			</dict>
			<key>BlankieRedIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieRedIcon</string>
			</dict>
			<key>BlankieSliderIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieSliderIcon</string>
			</dict>
			<key>BlankieTealIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieTealIcon</string>
			</dict>
			<key>BlankieWavesIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieWavesIcon</string>
			</dict>
			<key>BlankieYellowIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>BlankieYellowIcon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>BlankieAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.codybrom.blankie</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>blankie</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedExternalDisplays</key>
	<array>
		<dict>
			<key>UIDisplaySupportsTrueExternalDisplay</key>
			<true/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blankie Preset</string>
			<key>UTTypeIdentifier</key>
			<string>com.codybrom.blankie.preset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>blankie</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-blankie-preset</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
