---

---

<footer
  class="bg-gray-100 dark:bg-gray-900 py-10 text-gray-500 dark:text-gray-300 text-center px-2"
>
  <div class="flex flex-col sm:flex-row justify-center gap-x-5 gap-y-2 mb-5">
    <p class="order-first sm:order-last">
      Created by
      <a
        href="https://github.com/codybrom"
        class="hover:text-yellow-500 transition-colors duration-300 font-bold underline"
        >Cody Bromley</a
      >
    </p>
    <p class="hidden sm:inline">•</p>
    <p class="order-last sm:order-first">
      Inspired by
      <a
        href="https://apps.gnome.org/Blanket/"
        class="hover:text-yellow-500 transition-colors duration-300 font-bold underline"
        >Blanket</a
      >
      for Linux
    </p>
  </div>
  <p class="mb-4">
    <a
      href="https://github.com/codybrom/blankie"
      class="hover:text-yellow-500 transition-colors duration-300 underline"
      >Open Source on GitHub</a
    >
  </p>
  <p>
    © 2025 Cody Bromley. All rights reserved.
    <a
      class="hover:text-yellow-500 transition-colors duration-300 underline"
      href="https://opensource.org/license/mit">MIT License</a
    >.
  </p>
</footer>
